@import "~normalize.css";
:root {
    --mainColor: #fdd08f;
    --darck-grey : #686666;
    --grey : #a6a6a6;
    --white : #fdfdfd;
}
.container {
    margin: 50px auto;
    width: 500px;
    height: 300px;
    border-radius: 25px;
    background: var(--mainColor);
    color: var(--black);
    font-family: "Gill Sans", sans-serif;
    padding: 10px;
    box-shadow: 4px 4px 4px #d5a867;
    position: relative;
}

h1 {
    padding-top: 10px;
    padding-left: 15px;
    text-align: left;
}
.links {
    position: absolute;
    top: 45px; right: 40px;
}

a {
    color: var(--black);
    font-size: 15px;
    font-family: "Gill Sans", sans-serif;
}
.currency {
    font-size: 20px;
    position: absolute;
    top: 90px;
    left: 30px;
}
.input-exchange-value {
    font-size: 20px;
    position: absolute;
    top: 170px;
    left: 30px;
}
select {
    padding-left: 50px;
    background: var(--white);
    border: none;
    border-radius: 15px;
    margin-left: 10px;
    width: 213px;
    height: 58px;
    cursor: pointer;
    user-select: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
button#revers {
    background: var(--white);
    border: none;
    border-radius: 40px;
    margin: 50px 226px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
}
input {
    background: var(--white);
    border: none;
    border-radius: 15px;
    margin-left: 10px;
    width: 208px;
    height: 53px;
    cursor: pointer;
    user-select: none;
    outline: none;
}
.exchange {
    position: absolute;
    top: 72px;
    left: 235px;
    background: var(--darck-grey);
    border: none;
    border-radius: 15px;
    width: 215px;
    height: 55px;
    cursor: pointer;
}

.down {
    font-size: 10px;
    position: absolute;
    top: 230px;
    left: 30px;
}

button:active {
    filter: brightness(90%);
}
input:active {
    filter: brightness(90%);
}
select:active {
    filter: brightness(90%);
}